# Project exclude paths
/.gradle/
/Flashcards/task/build/
/Flashcards/task/out/
/Flashcards/task/out/production/classes/
/Flashcards/task/out/test/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Check burgs/out/
/Problems/Check burgs/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Cyclically shifting elements/out/
/Problems/Cyclically shifting elements/out/production/classes/
/Problems/Kidnapper of Ice cream/out/
/Problems/Kidnapper of Ice cream/out/production/classes/
/Problems/Print/out/
/Problems/Print/out/production/classes/
/Problems/Right Rotation/out/
/Problems/Right Rotation/out/production/classes/
/Problems/Spell checker/out/
/Problems/Spell checker/out/production/classes/
/Problems/The maximum pairwise product/out/
/Problems/The maximum pairwise product/out/production/classes/
/Problems (9)/User/out/
/Problems (9)/User/out/production/classes/
/Problems (36)/The sequence/out/
/Problems (36)/The sequence/out/production/classes/
/Problems (48)/Reversing/out/
/Problems (48)/Reversing/out/production/classes/
/Problems (52)/The index of the first max in an array/out/
/Problems (52)/The index of the first max in an array/out/production/classes/